<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huang.dao.NewsMapper">
    <insert id="addNews" parameterType="News">
         insert into news(title,content,author) values (#{title},#{content},#{author});
    </insert>
    <delete id="deleteNews" parameterType="int">
         delete from news where id = #{id};
    </delete>
    <update id="updateNews" parameterType="News">
         update news set title = #{title},content = #{content},author = #{author}
         where id = #{id};
    </update>
    <select id="queryNewsById" resultType="News">
         select * from news where id = #{id};
    </select>
    <select id="queryAllNews" resultType="News">
        select * from news;
    </select>
    <select id="queryNewsByTitle" resultType="News">
        select * from news where title = #{title};
    </select>

</mapper>